@using Microsoft.AspNetCore.Identity
@inject SignInManager<DevUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="sidebar-bottom">
        <div class="sidebar-bottom-button h3">
            <a id="sidebar-signin" href="/Identity/Account/Logout">Sign out</a>
        </div>
    </div>
}
else
{
    <div class="sidebar-bottom">
        <div class="sidebar-bottom-button h3">
            <a id="sidebar-signin" href="/Identity/Account/Login">Sign in</a>
        </div>
    </div>
}