@using Microsoft.AspNetCore.Identity
@inject SignInManager<DevUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    //<div class="sidebar-bottom">
    //    <div class="sidebar-bottom-button h3">
    //        <a id="sidebar-signin" href="/Identity/Account/Logout">Sign out</a>
    //    </div>
    //</div>

    <div id="topbar-signin">
        <a class="btn btn-primary" href="/Identity/Account/Logout">Sign out</a>
    </div>
}
else
{
    //<div class="sidebar-bottom">
    //    <div class="sidebar-bottom-button h3">
    //        <a id="sidebar-signin" href="/Identity/Account/Login">Sign in</a>
    //    </div>
    //</div>

    <div id="topbar-signin">
        <a class="btn btn-primary" href="/Identity/Account/Login">Sign in</a>
    </div>
}